<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"   [
        <!ENTITY listeners SYSTEM "listeners.xml">
        <!ENTITY classes SYSTEM "classes.xml">
        ]>
<suite name="Local Execution" verbose="5">
	<test name="planitTesting" time-out="800000">
		<parameter name="browser" value="chrome" />
		<parameter name="url"
			value="http://demowebshop.tricentis.com/" />
		<classes>
			<class name="com.qa.testCases.startToEndTest" />
		</classes>
	</test>
</suite> 


 